.container {
  display: flex;
  gap: 30px;
  font-family: 'Faustina';

  img {
    max-width: 55%;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center right;
    border-radius: 10px;
  }

  h3 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
  }

  ul {
    margin-left: 10px;

    h4 {
      margin-top: 6px;
      margin-bottom: 2px;
      font-size: 2.2rem;
    }

    li {
      font-size: 1.6rem;
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@media (max-width: 576px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%;
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {}
