header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 2rem;
  height: 120px;
  padding: 0 10px;
  width: 100%;
  max-width: 1200px auto;
  font-family: var(--font-serif);

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      margin-left: 24px;
    }
  }

  .locationWithTime {
    display: flex;
    width: 220px;

    h3 {
      margin: 0 10px;
    }
  }

  .selected {
    width: 55px;
    height: 2px;
    background-color: black;
    position: relative;
    top: 30px;
    left: 60px
  }


  li {
    display: inline-block;
    cursor: pointer;
    margin-left: 12px;
  }

}

nav {
  top: 10px;

  ul {

    li {
      list-style-type: none;
      display: inline-block;
      font-style: italic;
    }

    .navLink {
      padding: 8px;
      transition: opacity .2s;
    }

    .navLink:hover {
      opacity: .6;
    }

  }
}

.navMobileContainer {
  display: none;
}

.burgerMenu {
  display: none;
  padding: 4px 12px;
  border-radius: 12px;
  font-family: var(--font-sans);
  font-size: 1.8rem;
  cursor: pointer;
  transition: all .5s var(--easeOutCirc);

  .burgerIcon {
    font-size: 5rem;
  }
}

.burgerMenu:active {
  opacity: .5
}


@media (max-width: 768px) {
  header {
    height: 80px;

    .locationWithTime {
      display: none;
    }

    .controls {
      display: flex;
      justify-content: flex-start;
      width: 30px;

      li {
        display: none;
        margin: 0 6px;
      }
    }

    nav {
      display: none;
    }
  }

  .navMobileContainer {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: var(--background-color);
    /*opacity: 0.5;*/
    display: flex;
    backdrop-filter: blur(4px);
    padding: 40px;
    box-sizing: border-box;
    transition: right .3s var(--easeOutCubic);

    .navMobile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      font-size: 5rem;
      margin-top: 110px;

      li {
        margin: 8px 0;
      }

    }

    .mobileThemeToggle {
      position: fixed;
      top: 50px;

      button {
        inline-size: 40px;
        block-size: 40px;
      }
    }

    .mobileLangToggle {
      position: fixed;
      bottom: 20px;
      right: 110px;
      font-size: 3rem;

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          margin: 0
        }
      }

      .flagIcons {
        position: fixed;
        right: 50px;
        bottom: 0px;

        .flagIcon {
          margin: 26px 0;
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
          cursor: pointer;
        }
      }


    }

    .burgerIcon {
      position: fixed;
      cursor: pointer;
      padding: 8px;
      right: 40px;
      font-size: 6rem;
    }

    .burgerIcon:active {
      opacity: .5
    }

    footer {
      position: fixed;
      bottom: 10px;
    }
  }

  .navMobileContainer.open {
    right: 0;
  }

  .burgerMenu {
    display: flex;
  }

}

@media (max-width: 992px) {
  header {

    .locationWithTime {
      display: none;
    }
  }
}

@media (max-width: 576px) {
  header {
    justify-content: space-between;
    padding: 0 25px;



    .locationWithTime {
      display: none;
    }


  }

}

@media (min-width: 576px) and (max-width:768px) {
  header {
    justify-content: space-between;
    padding: 0 60px;
  }
}
