header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  height: 100px;
  padding: 0 70px;
  /* background-color: var(--background-color); */
  /* background-color: aqua; */
  h3 {
    opacity: 0.6;
    padding: 6px;
    margin-right: 65px;
  }
  ul {
    display: flex;
  }
  li {
    opacity: 0.6;
    padding: 6px;
  }
  nav {
    ul {
      li {
        list-style-type: none;
        display: inline-block;
        margin-left: 20px;
      }
    }
  }
}

.dark {
  background-color: #333;
  color: white;
}
