header {

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.80rem;
  height: 120px;
  padding: 0 70px;
  width: 100%;
  max-width: 1200px auto;
  letter-spacing: 1px;

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      margin-left: 24px;
    }
  }

  .locationWithTime {
    display: flex;

    h3 {
      margin: 0 10px;
    }
  }

  .selected {
    width: 55px;
    height: 2px;
    background-color: black;
    /*opacity: .5;*/
    position: relative;
    top: 30px;
    left: 60px
  }


  li {
    display: inline-block;
    padding: 6px;
  }

}

nav {
  /*position: sticky;*/
  top: 10px;

  ul {
    /*margin-right: 40px;*/

    li {
      list-style-type: none;
      display: inline-block;
      font-style: italic;
      /*text-transform: uppercase;*/
      /*opacity: 1;*/
    }
  }
}
