.toolkitContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  .panelsWrapper {
    display: flex;
    width: 100%;

    ul {
      width: 100%;

      h5 {
        font-size: 2rem;
        font-weight: bold;
      }

      li {
        margin-left: 10px;
      }
    }
  }
}
