.toolkitContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;

  h3 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .panelsWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 40px;
    gap: 180px;

    ul {

      h4 {
        margin-bottom: 16px;
      }

      h5 {
        font-size: 2rem;
        font-weight: bold;
        font-style: italic;
      }

      li {
        margin-left: 12px;
      }
    }
  }
}

@media (max-width: 576px) {
  .toolkitContainer {
    display: flex;
    justify-content: center;
    width: 100%;

    .panelsWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-left: 0;
      gap: 10px;

      ul {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        width: 240px;

        li {
          margin-left: 6px;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .toolkitContainer {
    display: flex;
    width: 100%;

    .panelsWrapper {
      display: flex;
      width: 100%;
      gap: 20px;

      ul {
        padding: 0 20px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
