.container {
  height: 100vh;

  ul {

    li {
      margin-left: 30px;
      text-decoration: underline;

      b {
        text-decoration: none;
      }
    }
  }

  .sectionHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
