.container {
  margin-top: 50px;
  font-family: var(--font-serif);

  p {
    font-size: 1.5rem;
  }

  section {
    max-width: 800px;
    width: 90%;
    margin: 0 auto;

    .sectionImg {
      max-width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center right;
      border-radius: 10px;
    }

    .sectionImgMargin {
      img {
        margin: 20px 0;
      }
    }

    h2 {
      font-size: 3.5rem;
      font-style: italic;
      margin-bottom: 30px;
    }

    h3 {
      font-size: 3rem;
      margin-bottom: 8px;
      /*text-align: center;*/
    }
  }

  h4 {
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: 2.3rem;
    font-style: italic;
  }

  .listNoMargin {
    li {
      margin-left: 0;
    }
  }

  @media (max-width: 576px) {
    margin-top: 0px;

    .listNoMargin {
      display: flex;
      flex-direction: column;
      text-align: center;

      li {
        margin: 0;
        padding: 0;
        gap: 10px;
      }
    }
  }


  input,
  textarea,
  button {
    font-family: var(--font-sans);
  }

  .fontFamily {

    h2 {
      font-family: var(--font-serif)
    }
  }

  ul {


    li {
      font-size: 1.6rem;
      padding: 2px;
      /*text-decoration: underline;*/
    }
  }
}
