.container {
  font-family: 'Faustina';

  .sectionImg {
    width: 420px;
    height: auto;
    border-radius: 10px;
  }


  h2 {
    font-family: 'Faustina'
  }

  h4 {
    margin-top: 6px;
    margin-bottom: 12px;
    font-size: 2.5rem;
  }

  input,
  textarea,
  button {
    font-family: var(--font-sans);
  }

  .fontFamily {

    h2 {
      font-family: var(--font-serif)
    }
  }

  ul {


    li {
      font-size: 1.6rem;
      padding: 2px;
      /*text-decoration: underline;*/
      cursor: pointer;
    }
  }
}
