.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 768px) {
    .video::-webkit-media-controls-fullscreen-button {
      display: none;
    }

    .video::-webkit-media-controls {
      display: block;
    }
  }

  .video {
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  }

  a {
    text-decoration: underline;
  }

  .sectionHeader {
    display: flex;
    align-items: center;


  }


  .projectSection {
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }

  .projectImageContainer {
    display: flex;
    align-items: center;
    width: 55%;

  }

  .projectInfoContainer {
    width: 45%;

    h3 {
      font-weight: bold;
    }

    h4 {
      font-size: 2.1rem;
      font-weight: bold;
      margin: 0;
      padding: 6px 0;

    }

    p {
      font-size: 1.7rem;
      margin: 12px 0;
    }

    ul {
      list-style-type: circle;

      li {
        margin-left: 22px;
        font-size: 1.5rem;
        padding: 4px;
      }
    }
  }


}

@media (max-width: 576px) {
  .container {
    display: flex;
    flex-direction: column;

    .sectionHeader {
      margin-top: 20px;
      display: flex;
      padding: 0 12px;

      h2 {
        font-size: 3rem;
      }
    }

    .projectSection {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin-top: 5px;

      .projectImageContainer {
        width: 90%;
      }

      .projectInfoContainer {
        width: 90%;
      }
    }

  }

}
