main {
  display: flex;
  justify-content: center;
  flex-direction: row;
  /*align-items: center;*/
  height: 95vh;
  /*margin: 0 120px;*/
  margin-top: 100px;

  .leftContainer {
    width: 50dvw;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 3.5rem;
      /*padding: 10px;*/

      span {
        color: var(--primary-accent);
      }
    }

    h2 {
      font-size: 2.5rem;
    }

    p {
      font-size: 2.5rem;
    }
  }

  .rightContainer {
    width: 50dvw;
    display: flex;
    flex-direction: column;
    align-items: center;


  }
}
