@import "tailwindcss";
@import "https://unpkg.com/open-props/easings.min.css";

html,
body {
  background-color: var(--background-color);

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
  font-family: var(--font-sans);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px auto;
  margin: 0;
}
