@import "tailwindcss";

html,
body {
  background-color: var(--background-color);
  font-family: var(--font-sans);
  font-size: 62.5%;
}

.dark {
  background-color: var(--background-dark-color);
  color: white;
}

.light {
  background-color: var(--background-color);
  color: black;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px auto;
  margin: 0;
}
