/*@import "tailwindcss";*/
@import "./globals.css";

html,
body {
  background-color: var(--background-color);
  font-family: var(--font-sans);
  font-size: 62.5%;
}

.dark {
  background-color: var(--background-dark-color);
  color: white;
}

.light {
  background-color: var(--background-color);
  color: black;
}

:global(.dark) input {
  background-color: black;
}


.dark input {
  background-color: var(--dark-accent);
}

.dark textarea {
  background-color: var(--dark-accent);
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px auto;
  margin: 0;
}
