/* globals and theming */

@import "tailwindcss";

:root {
  --font-sans: "Switzer";
  --primary-accent: #40CB4F;
  --secondary-color: #cddc38;
  --background-color: #ffffff;
  --background-dark-color: #12111b;
  --dark-accent: #171622;
  --border-grey: #e1e1e1;
  --nav-dark-color: #161622;
  --dark-text-color: #a7a9be;
  --dark-header-color: #fffffe;
  --sun-color: #f9d71c;
  --sun-color-hover: #e1c41b;
  --moon-color: #f9f9f9;
  --moon-color-hover: #e1e1e1;
  --easeOutQuint: cubic-bezier(0.22, 1, 0.36, 1);
  --easeOutCubic: cubic-bezier(0.33, 1, 0.68, 1);
  --easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
  --themeBtn-size: 36px;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
  color-scheme: light;
}
