form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  /*border: 1px solid var(--dark-accent);*/
  border-radius: 10px;

  h2 {
    font-size: 3.5rem;
    padding-bottom: 10px;
  }

  textarea {
    border: 1px solid var(--text-light);
    padding: 15px;
    width: 600px;
    height: 150px;
    border-radius: 0px 0px 8px 8px;
    font-size: 1.5rem;
    resize: none;
  }

  input {
    padding: 18px;
    width: 300px;
    border: 1px solid var(--text-light);
    font-size: 1.8rem;
  }

  .nameInput {
    border-radius: 6px 0px 0px 0px;
    width: 200px;
  }

  .emailInput {
    border-radius: 0px 6px 0px 0px;
    width: 400px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 200px;
    margin-top: 20px;
    margin-right: 400px;
    color: white;
    height: 50px;
    border-radius: 0px 0px 6px 6px;
    font-size: 2rem;
    color: white;
    letter-spacing: 1px;
    /*font-weight: bold;*/
    background-color: var(--primary-accent);
    border: 1px solid var(--text-light)
  }



  .firstRow {
    display: flex;
  }

  /*.icon {*/
  /*  font-size: 2rem;*/
  /*  color: red;*/
  /*  position: relative;*/
  /*  bottom: 50px;*/
  /*  left: 350px;*/
  /*}*/
  /**/
  /*.iconAltPos {*/
  /*  position: relative;*/
  /*  bottom: 80px;*/
  /*}*/

  ::placeholder {
    font-size: 1.5rem;
  }

  input:focus,
  textarea:focus {
    outline: var(--primary-accent);
    border: 1px solid var(--primary-accent)
  }


}
