.formContainer {

  text-align: center;

  span {
    text-align: center;
    font-size: 1.5rem;
    color: limegreen;
  }
}

.formElement {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;


  h2 {
    font-size: 3.5rem;
    margin: 25px 0;
  }

  h2,
  a,
  p {

    font-family: var(--font-serif);
  }

  ul {

    display: flex;
    margin-bottom: 40px;
    justify-content: flex-start;
    gap: 30px;

    li {
      margin-left: 0;
    }
  }

  textarea {
    border: 1px solid var(--text-light);
    padding: 15px;
    width: 600px;
    height: 150px;
    font-size: 1.5rem;
    resize: none;
    border-radius: 0px 0px 6px 6px;
    margin: 0;
    border-top: 0;
  }

  input {
    padding: 18px;
    width: 300px;
    border: 1px solid var(--text-light);
    font-size: 1.8rem;
  }

  .nameInput {
    border-radius: 6px 0px 0px 0px;
    width: 200px;
    border-right: 0;
  }

  .emailInput {
    border-radius: 0px 6px 0px 0px;
    width: 400px;
  }

  a {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-top: 40px;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 600px;
    height: 50px;
    margin-top: 30px;
    font-size: 2rem;
    border-radius: 6px 6px 6px 6px;
    background-color: var(--dark-accent);
    border: 1px solid var(--text-light);
    color: var(--text-dark);
    cursor: pointer;
    transition: opacity .2s;
  }

  button:hover {
    opacity: .85;
  }



  .firstRow {
    display: flex;
  }


  ::placeholder {
    font-size: 1.5rem;
  }

  input:focus,
  textarea:focus {
    outline: var(--primary-accent);
    border: 1px solid var(--primary-accent)
  }

  .noEmail {
    display: none;
  }

}

@media (max-width: 576px) {
  .formElement {
    display: flex;

    .firstRow {
      display: flex;
      flex-direction: column;
      width: 100%;

      .nameInput,
      .emailInput {
        width: 100%;
        border-radius: 6px;
      }

      .nameInput {
        border-right: 1px solid var(--text-light);
      }


    }

    input,
    textarea {
      margin-top: 17px;
    }

    .buttonWrapper {
      width: 100%
    }

    button {
      width: 100%;
    }

    textarea {
      border: 1px solid var(--text-light);
      border-radius: 6px;
      width: 100%;
    }

    ul {
      display: flex;
      gap: 10px;
      margin-bottom: 8px;
    }
  }

}

@media (max-width: 768px) {}

@media (min-width: 576px) and (max-width: 768px) {
  .formElement {
    display: flex;

    .firstRow {
      display: flex;
      width: 100%;

      .nameInput,
      .emailInput {
        margin-top: 20px;
        width: 100%;
      }

      .nameInput {
        width: 60%;
      }


    }


    .buttonWrapper {
      width: 100%
    }

    button {
      width: 100%;
    }

    textarea {
      width: 100%;
    }

    ul {
      display: flex;
      gap: 10px;
      margin-bottom: 8px;
    }
  }
}
