form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  /*border: 1px solid var(--dark-accent);*/
  border-radius: 10px;

  h2 {
    font-size: 3.5rem;
    padding-bottom: 10px;
  }

  input,
  textarea {
    /*border: 1px solid var(--background-dark-color);*/
    padding: 15px;
    margin: 5px 0;
    width: 400px;
    border-radius: 8px;
    font-size: 2rem;
    background-color: var(--moon-color-hover);
    resize: none;
  }

  button {
    margin-top: 10px;
    width: 50%;
    background-color: var(--primary-accent);
    color: white;
    height: 40px;
    border-radius: 8px;
    font-size: 1.8rem;
    font-style: italic;
    /*font-weight: bold;*/
    padding: 4px;
  }

  .icon {
    font-size: 2rem;
    color: red;
    position: relative;
    bottom: 50px;
    left: 350px;
  }

  .iconAltPos {
    position: relative;
    bottom: 80px;
  }

  ::placeholder {
    font-size: 1.5rem;
  }

  ::content {
    font-size: 2rem;
  }

}
